

body {
 width: 100%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:950px;
  background: rgb(6,33,65);
  background: -moz-linear-gradient(164deg, rgba(6,33,65,1) 34%, rgba(84,48,153,1) 69%, rgba(185,70,252,1) 100%, rgba(134,52,110,1) 100%);
  background: -webkit-linear-gradient(164deg, rgba(6,33,65,1) 34%, rgba(84,48,153,1) 69%, rgba(185,70,252,1) 100%, rgba(134,52,110,1) 100%);
  background: linear-gradient(164deg, rgba(6,33,65,1) 34%, rgba(84,48,153,1) 69%, rgba(185,70,252,1) 100%, rgba(134,52,110,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#062141",endColorstr="#86346e",GradientType=1);
  overflow-x: hidden;

}
a { color: inherit; text-decoration: none;} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
}
  
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #130f0f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 186, 186); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
