@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#container_nav
{
  display: flex;
   position: fixed;
width :100%;
height: 5.8em;
/*background-color: rgba(6, 2, 10, 0.116); */
flex-direction: row;
align-items: baseline;
min-width:538px;

}


.li_edit
{
  width:6em;
  height:1.3em;
  justify-content: center;
 position:relative;
 display: flex;
user-select: none;
margin-left: 1.6em;
margin-top: 1.2em;
border-radius: 20px;
 /* background-color: red; */
}

.li_edit:hover
{
  
  transition-timing-function: ease-in-out;
   transition:0.7s;
   text-shadow: none;
   background:rgb(215, 211, 219);
   color: rgb(0, 0, 0);
   cursor: pointer;
}
.adjust1
{
  width:6em;
  height:1.3em;
  text-align:right ;
  justify-content: center;
 position:relative;
 display: flex;
user-select: none;
margin-left: 20px;
margin-top: 1.2em;
border-radius: 20px;
}
.adjust1:hover{
  transition-timing-function: ease-in-out;
  transition:0.7s;
  text-shadow: none;
  background:rgb(215, 211, 219);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.logo
{
    display: flex;    
   justify-content:center;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    font-size: 2.4em;
    margin-top:20px;
    margin-left: 40px;
 
      
    
 
   
}
.header_right
{
  
    display: flex;
   flex-direction: row;
    position:absolute;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    color: antiquewhite;
    font-size: 1.6em;      
     margin-left: 26em;
     margin-top: -1px;
     text-shadow: 2px -1px 5px black;


}


@media (max-width:688px)
{
  #container_nav
  {
    height:4.8em;
  }
  .logo{
    margin-top: 0.6em;
    font-size:1.8em;
    margin-left: 0.8em;
   
  }
  .adjust1{
    width: 5em;
    margin-left:7.5em;
    margin-top: 1.5em; ;
  }
  .header_right{
    margin-left: 2em;

    font-size: 1.2em;
  }
  .li_edit{
  
    margin-top: 1.5em;
    margin-left:0.5em;
  }
}



